
<h2><%= items.count %> Items</h2>

<table>
<% items.each_with_index do |item,index| %>
 <tr>
  <td class='count'>
    [<%= index+1 %>]
  </td>
   <td>
     <%= link_to item.title, item_path( item ) %>
   </td>

   <td>
    <% if item.summary? %>
       <%= item.summary.length %>
    <% else %>
      --no-summary--
    <% end %>
   </td>

   <td>
    <% if item.content? %>
       <%= item.content.length %>
    <% else %>
      --no-content--
    <% end %>
   </td>

   <td class='key'><%= item.guid %></td>

   <td>
     <% if item.updated? %>
       <%= item.updated.strftime( '%b %d, %Y %H:%M' ) %>
     <% else %>
        --no-updated--
     <% end %>
   </td>
   <td>
     <% if item.published? %>
        <%= item.published.strftime( '%b %d, %Y %H:%M' )  %>
     <% else %>
         --no-published--
     <% end %>
   </td>
   
<% if show_feed %>
   <td>
     <%= link_to item.feed.title, feed_path( item.feed ) %>
   </td>
<% end %>

 </tr>
<% end %>
</table>
