
<h2><%= Feed.count %> Feeds</h2>

<table>
<% Feed.latest.all.each do |feed| %>
 <tr>
   <td class='key'><%= feed.key %></td>
   <td>
       <a href='<%= feed.url %>'>
         <b><%= feed.title %></b>
       </a>
       <span class='count'>(<%= feed.items.count %>)</span> <br>
       <% if feed.summary || feed.title2 %>
         <%= feed.summary %> <!-- rss/description -->
         <%= feed.title2 %>  <!-- atom/subtitle -->
       <% else %>
          --no-summary--
       <% end %>
   </td>
   <td><%= feed.format %>  <a href='<%= feed.feed_url %>'>
                             <img src='<%= url( "/feed-icon-10x10.png" )%>'></img>
                           </a> 
   </td>
   <td>
     <% if feed.published_at? %>
        <%= feed.published_at.strftime( '%b %d, %Y %H:%M' )  %>
     <% else %>
         --no-published--
     <% end %>
   </td>
   <td>
     <% if feed.touched_at %>
       <%= feed.touched_at.strftime( '%b %d, %Y %H:%M' ) %>
     <% else %>
        --no-updated--
     <% end %>
   </td>
   <td>
     <% if feed.built_at %>
        <%= feed.built_at.strftime( '%b %d, %Y %H:%M' ) %>
     <% else %>
        --no-last-build--
     <% end %>
   </td>
   <td>
    <% if feed.generator %>
       <%= feed.generator %>
    <% else %>
       --no-generator--
    <% end %>
   </td>
   <td>
    <% if feed.fetched_at %>
      <%= feed.fetched_at.strftime( '%b %d, %Y %H:%M' ) %>
    <% else %>
        --no-fetched--
    <% end %>
   </td>
   <td><%= feed.etag %></td>
 </tr>
<% end %>
</table>
