
<h2><%= Feed.count %> Feeds</h2>

<table>
<% Feed.latest.each do |feed| %>
 <tr>
   <td class='key'><%= feed.key %></td>
   <td>
      <%= link_to( content_tag( :b, feed.title ), feed_path( feed )) %>
       <span class='count'>(<%= feed.items.count %>)</span> <br>
       <%# if feed.summary || feed.title2 %>
       <% if feed.summary %>
         <%= feed.summary %> <!-- rss/description -->
         <%#= feed.title2 %>  <!-- atom/subtitle -->
       <% else %>
          --no-summary--
       <% end %>
   </td>
   <td><%= feed.format %>  <a href='<%= feed.feed_url %>'>
                             <img src='<%= url( "/feed-icon-10x10.png" )%>'></img>
                           </a> 
   </td>
   <td>
     <% if feed.updated? %>
       <%= feed.updated.strftime( '%b %d, %Y %H:%M' ) %>
     <% else %>
        --no-updated--
     <% end %>
   </td>
   <td>
     <% if feed.published? %>
        <%= feed.published.strftime( '%b %d, %Y %H:%M' )  %>
     <% else %>
         --no-published--
     <% end %>
   </td>
   <td>
    <% if feed.generator %>
       <%= feed.generator %>
    <% else %>
       --no-generator--
    <% end %>
   </td>
   <td>
    <% if feed.fetched %>
      <%= feed.fetched.strftime( '%b %d, %Y %H:%M' ) %>
    <% else %>
        --no-fetched--
    <% end %>
   </td>
   <td>
      <!-- make <> 200,304  red/bold??? -->
      <%= feed.http_code %> 
   </td>
   <td>
     <% if feed.http_etag %>
       <%= feed.http_etag %>
     <% else %>
         --no-etag--
     <% end %>
   </td>
   <td>
     <% if feed.http_last_modified %>
        <%= feed.http_last_modified %>
     <% else %>
         --no-last-modified--
     <% end %>
   </td>
 </tr>
<% end %>
</table>
