
<h2><%= Item.count %> Items</h2>

<table>
<% Item.latest.all.each do |item| %>
 <tr>
   <td><a href='<%= item.url %>'>
          <%= item.title %>
       </a>
   </td>

   <td>
    <% if item.summary? %>
       <%= item.summary.length %>
    <% else %>
      --no-summary--
    <% end %>
   </td>

   <td>
    <% if item.content? %>
       <%= item.content.length %>
    <% else %>
      --no-content--
    <% end %>
   </td>

   <td class='key'><%= item.guid %></td>

   <td>
     <% if item.published_at? %>
        <%= item.published_at.strftime( '%b %d, %Y %H:%M' )  %>
     <% else %>
         --no-published--
     <% end %>
   </td>
   <td>
     <% if item.touched_at %>
       <%= item.touched_at.strftime( '%b %d, %Y %H:%M' ) %>
     <% else %>
        --no-updated--
     <% end %>
   </td>
   <td><a href='<%= item.feed.url %>'>
         <%= item.feed.title %>
       </a>
       <a href='<%= item.feed.feed_url %>'>
         <img src='<%= url( "/feed-icon-10x10.png" )%>'></img>
       </a>
   </td>
   <td>
    <% if item.fetched_at %>
      <%= item.fetched_at.strftime( '%b %d, %Y %H:%M' ) %>
    <% else %>
        --no-fetched--
    <% end %>
   </td>
 </tr>
<% end %>
</table>
