<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Pluto Admin</title>
  <link href="<%= url('/style.css') %>" rel='stylesheet'>
</head>
<body>

<p>
  Pluto Admin |
    <%= link_to 'Sites', sites_path %> <span class='count'>(<%= Site.count %>)</span> &nbsp;
    <%= link_to 'Feeds', feeds_path %> <span class='count'>(<%= Feed.count %>)</span> &nbsp;
    <%= link_to 'Items', items_path %> <span class='count'>(<%= Item.count %>)</span>  &nbsp;
    <%= link_to 'Timeline', timeline_path %> <span class='count'>(<%= Activity.count %>)</span>
</p>

<%= yield %>

<%= erb :'shared/_version' %>

</body>
</html>
