

<h2><%= Site.count %> Sites</h2>

<table>
<% Site.order(:id).each do |site| %>
 <tr>
   <td class='key'><%= site.key %></td>
   <td><%= site.title %>
        <span class='count'>(<%= site.feeds.count %>)</span>
   </td>
   <td>
       <% site.feeds.order(:title).each_with_index do |feed,index| %>
         <% if index > 0 %>
            &bull;
         <% end %>
         <%= link_to feed.title, feed_path( feed ) %>
       <% end %>
   </td>
  </tr>
<% end %>
</table>
